# dependencias y builds
node_modules/
backend/node_modules/
.netlify/
backend/.netlify/
dist/
build/
.tmp-gen/

# prisma generado
node_modules/.prisma/
backend/.netlify/functions-serve/**/.prisma/

# SO / editor
.DS_Store
*.log

# entornos
.env
.env.*
# (si NO quieres commitear locks ahora, ignóralos; si sí quieres, borra estas 2 líneas)
package-lock.json
backend/package-lock.json
