node_modules
npm-debug.log*
.DS_Store
.env
.env.local
.env.*
!.env.example
.idea
.vscode
coverage
/dist
/frontend/dist
/backend/dist

# Env y builds
.env
backend/.env
frontend/.env
*.log
dist/
build/


# Local Netlify folder
.netlify

# Asegura incluir functions
!backend/functions/**
